html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    position: relative;
    color: #fff;
    @extend %ubuntu-light;
    font-size: 17px;
    line-height: 26px;
}

*,*::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: inherit;
}

.container {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    position: relative;
    min-height: 100vh;
    background: url('../images/img/bg/bg.jpg') center (center/cover) no-repeat;
    padding: 74px 0 50px;
}

.title {
    @extend %sf-regular;
    font-size: 44px;
    line-height: 53px;
    margin-bottom: 55px;
    padding-left: 25px;
    padding-top: 50px;
}

.scroll-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    text-align: center;
    padding: 13px 0 30px;
}
