@import "vars";
@import "mixins";
@import "libs";
@import "fonts";
@import "global";

.header {
    position: fixed;
    z-index: 10;
    top: 30px;
    left: 0;
    right: 0;
    &__inner {
        @include flex;
        flex-wrap: wrap;
        min-height: 30px;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 17px;
        @extend %ubuntu-medium;
    }
    &__btn {
        @include btn;
        width: 115px;
        height: 30px;
        border-radius: 3px;
        padding: 6px 28px;
        margin-right: 8px;
        @extend %ubuntu-medium;
    }
    &__phone {
        font-size: 16px;
        line-height: 18px;
        @extend %ubuntu-bold;
    }
}

.logo {
    &__img-mobile {
        display: none;
    }
}

.menu {
    &__list-item {
        display: inline-block;
        & + .menu__list-item {
            padding-left: 20px;
        }
    }
    .header {
        &__phone,
        &__btn {
            display: none;
        }
    }
    .logo__img-mobile {
        display: none;
    }
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 24px;
    height: 14px;
    display: none;
    span {
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: 0.5s all;
        &:last-child {
            width: 16px;
        }
    }
}

.main {
    display: flex;
    align-items: flex-end;
    background: url('../images/img/bg/main_bg.jpg') center (center/cover) no-repeat;
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__title {
        font-size: 96px;
        line-height: 115px;
        @extend %sf-semibold;
        margin-bottom: 25px;
    }
    &__img {
        width: 660px;
        max-width: 100%;
        height: auto;
    }
    &__text {
        max-width: 325px;
        margin: 25px 0 35px;
    }
    &__social-item {
        display: inline-block;
        margin: 0 25px;
    }
    &__social-link {
        @include hover;
    }
}
.products {
    min-height: 768px;
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 50px;
    }
    &__text {
        max-width: 440px;
        p {
            margin-bottom: 30px;
        }
    }
    &__slider-box {
        position: relative;
        padding-top: 110px;
    }
    &__slider-text {
        position: absolute;
        bottom: 30px;
        left: -250px;
        z-index: 5;
        max-width: 281px;
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        @extend %ubuntu-medium;
    }
    &__slider {
        max-width: 560px;
        &::before {
            content: '';
            position: absolute;
            top: -15px;
            right: -17px;
            width: 560px;
            height: 276px;
            border: 4px solid #fff;
        }
    }
}
.slider-btn {
    position: absolute;
    bottom: -45px;
    right: 0;
    z-index: 5;
    padding: 16px 26px;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    svg {
        stroke: #1C1C1C;
    }
    &__left {
        right: 60px;
    }
    &.slick-disabled {
        background-color: #1C1C1C;
        svg {
            stroke: #fff;
        }
    }
}

.benefits {
    &__items {
        display: flex;
        flex-wrap: wrap;
        padding-left: 25px;
    }
    &__item {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-bottom: 100px;
        &:nth-child(even) {
            margin-left: 40px;
            transform: translateY(20px);
        }
        &:nth-child(3) {
            margin-left: 30px;
        }
        &:nth-child(4) {
            margin-left: 60px;
        }
        &:nth-child(1),
        &:nth-child(3) {
            position: relative;
            &:before,
            &:after {
                content: '';
                position: absolute;
                background-position: 0 0;
                background-repeat: no-repeat;
            }
        }
        &:nth-child(1) {
            &::before {
                top: 30px;
                right: -55px;
                width: 245px;
                height: 45px;
                background-image: url('../images/img/lines/line-1.svg');
            }
        }
        &:nth-child(3) {
            &:before {
                background-image: url('../images/img/lines/line-3.svg');
                width: 254px;
                height: 43px;
                top: 40px;
                right: -70px;
            }
            &:after {
                width: 463px;
                height: 63px;
                background-image: url('../images/img/lines/line-2.svg');
                top: -70px;
                right: -50px;
            }
        }
    }
    &__num {
        font-size: 36px;
        line-height: 41px;
        @extend %ubuntu-bold;
        margin-right: 10px;
    }
    &__img {
        position: relative;
        z-index: 2;
        margin-right: 32px;
        &::before {
            content: '';
            position: absolute;
            top: -12px;
            right: -12px;
            z-index: -1;
            width: 193px;
            height: 128px;
            border: 2px solid #fff;
        }
    }
    &__info {
        width: 300px;
    }
    &__info-title {
        width: 123px;
        font-size: 21px;
        line-height: 24px;
        margin-bottom: 10px;
        @extend %ubuntu-bold;
    }
    &__info-text {
        font-size: 15px;
        line-height: 18px;
        @extend %ubuntu-light;
    }
}

.specification {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 25px;
    }
    &__item--center {
        margin-left: -15px;
        margin-right: -15px;
        img {
            display: block;
            width: 668px;
            @include mw;
        }
    }
    &__box {
        position: relative;
        width: 280px;
        margin-top: 10px;
        &:before {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: contain;
        }
    }
    &__box-2 {
        width: 253px;
        margin-top: 140px;
    }
    &__box-4 {
        margin-top: 160px;
    }
    &__box-1:before{
        background-image: url('../images/img/pointers/pointer-1.svg');   
        width: 229px;
        height: 114px;
        top: 15px;
        right: -120px;  
    }
    &__box-2:before{
        background-image: url('../images/img/pointers/pointer-2.svg');
        width: 346px;
        height: 81px;
        top: -65px;
        right: -330px;
    }
    &__box-3:before{
        background-image: url('../images/img/pointers/pointer-3.svg');
        width: 258px;
        height: 103px;
        top: 14px;
        left: -290px;
    }
    &__box-4:before {
        background-image: url('../images/img/pointers/pointer-4.svg');
        width: 124px;
        height: 89px;
        top: -72px;
        left: -136px;
    }
    &__box-title {
        font-size: 21px;
        line-height: 28px;
        @extend %ubuntu-bold;
    }
    &__box-text {
        font-size: 15px;
        line-height: 18px;
        @extend %ubuntu-light;
        margin-top: 10px;
    }
}

.questions {
    &__items {
        position: relative;
        max-width: 757px;
        padding-bottom: 15px;
    }
    &__item {
        position: relative;
        max-width: 690px;
        background-color: rgba(0, 0, 0, 0.3);
        margin-bottom: 5px;
        &:nth-child(3):before {
            content: '';
            position: absolute;
            top: -33px;
            right: -386px;
            width: 319px;
            height: 125px;
            background-image: url('../images/img/questions_img.png');
        }
    }
    &__item-title {
        position: relative;
        font-size: 21px;
        line-height: 28px;
        @extend %ubuntu-medium;
        color: rgba(#fff, .8);
        padding: 20px 10px 24px 40px;
        cursor: pointer;
        &::after {
            content: url('../images/icons/arrows/accordion-arrow.svg');
            position: absolute;
            top: 0;
            right: -72px;
            width: 72px;
            height: 67px;
            background-color: #fff;
            @include center;
        }
    }
    &__item-text {
        font-size: 15px;
        line-height: 22px;
        padding: 0 5px 75px 50px;
        margin: 0;
        display: none;
    }
    &__item.questions__item--active {
        .questions__item-title:after {
            transform: rotate(180deg);
        }
        .questions__item-text {
            display: block;
        }
    }
}

.contacts {
    &__inner {
        display: flex;
        flex-wrap: wrap;
        padding-left: 50px;
        margin-top: 56px;
    }
    &__info {
        width: 240px;
        margin-right: 60px;
    }
    &__info-box {
        margin-bottom: 30px;
    }
    &__info-city,
    &__form-title {
        font-size: 21px;
        line-height: 24px;
        @extend %ubuntu-bold;
        margin: 0 0 13px;
    }
    &__info-phone,
    &__info-email,
    &__form-text {
        display: block;
        font-size: 15px;
        line-height: 18px;
    }
    &__info-email {
        margin-top: 5px;
        transition: .3s all;
        &:hover {
            text-decoration: underline;
        }
    }
    &__form {
        width: 570px;
        margin-right: 106px;
    }
    &__form-inputs {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 12px;
    }
    &__form-input,
    &__form-textarea {
        background: rgba(0, 0, 0, 0.5);
        opacity: 0.95;
        padding: 15px;
        font-size: 13px;
        line-height: 15px;
        color: #FFFFFF;
        border: none;
        @extend %ubuntu-regular;
        &::placeholder {
            color: rgba(#fff, .4);
        }
    }
    &__form-input {
        width: 49%;
        height: 46px;
    }
    &__form-textarea {
        width: 100%;
        min-height: 144px;
        resize: none; // чтоб нельзя было растягивать
        margin-top: 10px;
    }
    &__form-btn {
        @include btn;
        width: 120px;
        height: 34px;
        padding: 9px 15px;
        border-radius: 2px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        opacity: 0.9;
        margin-top: 20px;
        @extend %ubuntu-bold;
    }
    &__social-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__social-item {
        margin: 14px 0;
    }
    &__social-link {
       @include hover;
    }
}

.footer {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    &__copy {
        font-size: 13px;
        line-height: 15px;
        color: rgba(#fff, .64);
        text-align: right;
    }
}


@import "media";
